/* ============================ */
/*           FOOTER             */
/* ============================ */

.footer {
    background: #071629;
    padding: 60px 20px;
    color: #fff;
}

.footer-container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left img {
    width: 180px;
}

.footer-right {
    display: flex;
    gap: 30px;
}

.footer-right span {
    font-size: 28px;
    color: #fff;
    transition: color 0.2s ease, opacity 0.2s ease;
}

.footer-right span:hover {
    color: #FF6565;
    opacity: 0.9;
}

footer .copyright {
    margin-top: 40px;
    text-align: center;
    font-size: 0.85rem;
    opacity: 0.6;
}

/* ============================ */
/*           MOBILE             */
/* ============================ */
@media (max-width: 480px) {
    .footer-container {
        flex-direction: column;
        gap: 30px;
    }
}
